@import '../../sass/vars';

.about {
  &__section {
    text-align: justify;
    margin: $margin-section-sm 1em;
    p {
      line-height: 2.5rem;
      font-size: $font-sm;
      color: #565656;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}

@media (min-width:700px) {
  .about {
    display: flex;
    &__section {
      margin: 0 $margin-section-sm;
      width: 70%;
    }
  }
}