$font-main: 'Roboto', sans-serif;
$font-quirky: 'Satisfy', cursive;
$font-main-header-sm: 2.5rem;
$font-main-header-md: 3rem;
$font-main-header-lg: 5rem;
$font-secondary-header-sm: 2.4rem;
$font-secondary-header-md: 2.8rem;
$font-secondary-header-lg: 4rem;
$font-tertiary-header-sm: 2rem;
$font-tertiary-header-md: 2.4rem;
$font-tertiary-header-lg: 3rem;
$font-lg: 2.5rem;
$font-md: 2.4rem;
$font-sm: 1.6rem;
$font-xs: 1.4rem;

$color-basic: #fefefe;
$color-dark-grey: #232323;
$color-light-grey: #636363;

$shadow: #00000044;
