@import '../../../sass/vars';

.announcements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $margin-section-sm;
  text-align: center;
  padding: 3em;
  &__text {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

@media (min-width: 900px) {
  .announcements {
    padding: 2em;
  }
}
