@import '../../../sass/vars';

.welcome {
  max-width: 70rem;
  &__heading {
    text-align: center;
  }
  &__text {
    color: $color-light-grey;
    font-size: $font-sm;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5em;
    span {
      color: $color-dark-grey;
      opacity: 0.85;
      font-weight: 700;
      font-style: italic;
    }
  }
}

@media (min-width: 900px) {
  .welcome {
    &__text {
      width: 100%;
    }
  }
}
