@use '../../sass/mixins' as m;
@import '../../sass/vars';

.logo {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 2em;
  z-index: 5;
  transition: scale 0.1s;
  height: max-content;
  &--img {
    width: 100%;
  }
  &:hover {
    scale: 1.1;
  }
}
