.map {
  width: 100%;
  overflow: none;
  aspect-ratio: 1/1;
  &__image {
    border: none;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 700px) {
  .map {
    aspect-ratio: 1/.5;
  }
}
