@media (min-width: 700px) {
  .shortcuts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto;
    justify-content: center;
    &__link {
      margin: .8em;
      width: 45%;
    }
  }
}
@media (min-width: 900px) {
  .shortcuts {
    width: 90%;
  }
}
