@import '../../../sass/vars';

.main-heading {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 400;
  top: 60%;
  color: $color-basic;
  padding: .5em;
  span {
    display: block;
  }
  &--primary {
    text-transform: uppercase;
  }
  &--secondary {
    font-family: $font-quirky;
  }
}
