@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Space+Grotesk:wght@500&display=swap');
@import './sass/vars';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
}
